<a href="https://colab.research.google.com/github/SHIVA-RAMALINGAM/MachineLearningPractice/blob/main/2_2_Python_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#print function

In [1]:
print("Machine Learning")

Machine Learning

In [2]:
print('Machine Learning")

SyntaxError: unterminated string literal (detected at line 1) (<ipython-input-2-165521d210e2>, line 1)

In [4]:
print("Machine Learning" + " Projects")

Machine Learning Projects

In [5]:
print(8)

8

In [6]:
print(8+3)

11

#Basic Data types :

1.int

2.float

3.str

In [7]:
type(8)

int

In [8]:
type(5.3)

float

In [9]:
type("Shiva")

str

#Constants and Variables :

In [10]:
super_hero = "Iron Man"
print(superhero)

Iron Man

In [11]:
super_hero = "Captain America"
print(super_hero)

Captain America

In [14]:
hero1 , hero2 , hero3 = "Iron Man" , "Captain America" , "Bat Man"
print(hero1)
print(hero2)
print(hero3)

Iron Man
Captain America
Bat Man

In [15]:
x = y = z = 5
print(x)
print(y)
print(z)

5
5
5

#Input Function

In [19]:
number_1 = input('Enter the First number :')
number_2 = input('Enter the Second number :')
sum = number_1 + number_2
print(sum)

Enter the First number :23
Enter the Second number :23
2323

In [21]:
#changing the data type
num = 5
print(float(num))

5.0

In [20]:
number_1 = int(input('Enter the First number :'))
number_2 = int(input('Enter the Second number :'))
sum = number_1 + number_2
print(sum)

Enter the First number :23
Enter the Second number :23
46