<a href="https://colab.research.google.com/github/SHIVA-RAMALINGAM/MachineLearningPractice/blob/main/List_Tuple_Set_Dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Python has two types of Objects

      1.Mutable and

      2.Immutable Objects

Immutable Objects are:

      1.int

      2.float

      3.bool

      4.string

      5.tuple


Mutable Objects:

        1.List

        2.Set

        3.Dictionary

List

In [ ]:
# List should be enclosed in Square Brackets [] , They can store multiple values.
# List can store multiple datatypes eg : int , float , String in a single list.

In [1]:
my_list = [1 , 2 , 3 , 4 , 5 ]
print(my_list)
type(my_list)

[1, 2, 3, 4, 5]

list

In [2]:
my_list = [1 , 2 , 9.7 , "Shiva" , True]
print(my_list)

[1, 2, 9.7, 'Shiva', True]

List are Mutable ----> Changeable

In [3]:
# Add element to a list (.append) (adds the element to the end of the list)
my_list = [1 , 2 , 9.7 , "Shiva" , True]
my_list.append(6)
print(my_list)

[1, 2, 9.7, 'Shiva', True, 6]

In [4]:
# print elements of the list based on there index
print(my_list[3])
print(my_list[1])

Shiva
2

In [5]:
# List allows duplicates values

list1 = [1,2,3,4,5,2,4,5,6,7]
print(list1)

[1, 2, 3, 4, 5, 2, 4, 5, 6, 7]

In [6]:
print(len(list1))

10

In [8]:
#Initiating an empty list

list2 =[]
print(list2)

[]

In [9]:
list2.append(10)
print(list2)

[10]

In [10]:
#delete an item in a list

my_list = [1 , 2 , 9.7 , "Shiva" , True]

print(my_list)

del my_list[2]

print(my_list)

[1, 2, 9.7, 'Shiva', True]
[1, 2, 'Shiva', True]

In [11]:
# join two list

list_3 = [1,2,3,4,5]
list_4 = [6,7,8,9,10]

list_5 = list_3 + list_4
print(list_5)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Tuple -------> Immutable Object ------> Not changeable

In [12]:
tuple_1 = (1,2,3,4,5)
print(tuple_1)
type(tuple_1)

(1, 2, 3, 4, 5)

tuple

In [13]:
# can store multiple datatype of data in a same / single tuple (combination of datatypes)
tuple_2 = (1 , 11.5 , 70 , False , "Machine Learning")
print(tuple_2)

(1, 11.5, 70, False, 'Machine Learning')

In [14]:
# converting list to a tuple
list = [1,2,3,4,5]
print(list)

[1, 2, 3, 4, 5]

In [16]:
list_new = [1,2,3,4,5]

print(list)

tuple_new = tuple(list_new)

print(tuple_new)

[1, 2, 3, 4, 5]
(1, 2, 3, 4, 5)

In [17]:
print(tuple_new[0])
print(tuple_new[1])

1
2

In [18]:
#tuples are immutable ----> unchangeable

tuple_new.append(15)

AttributeError: 'tuple' object has no attribute 'append'

In [19]:
print(len(tuple_new))

5

Set

In [20]:
# set ------> Curly Brackets

my_set = {1,2,3,4,5}
print(my_set)
type(my_set)

{1, 2, 3, 4, 5}

set

In [21]:
# Set does not support indexing ----> we cant call an element in a set using their index

print(my_set[0])

TypeError: 'set' object is not subscriptable

In [22]:
# convert list to a set

list_new = [1,2,3,4,5]

set_new = set(list_new)

print(set_new)

type(set_new)

{1, 2, 3, 4, 5}

set

In [23]:
# set does not allow duplicate values

list_new = [1,2,3,4,5,1,2,3,7,9,0]

set_new = set(list_new)

print(set_new)

type(set_new)

{0, 1, 2, 3, 4, 5, 7, 9}

set

Dictionary

In [24]:
my_dictionary = {'name' : 'David' , 'age' : 25 , 'gender' : 'male'}
print(my_dictionary)
type(my_dictionary)

{'name': 'David', 'age': 25, 'gender': 'male'}

dict

In [25]:
print(my_dictionary['name'])
print(my_dictionary['age'])
print(my_dictionary['gender'])

David
25
male

In [26]:
# dictionary does not allow duplicate values

In [27]:
my_dictionary2 = {'name' : 'David' , 'age' : 25 , 'gender' : 'male','name' : 'David' , 'age' : 25 , 'gender' : 'male'}
print(my_dictionary2)
type(my_dictionary2)

{'name': 'David', 'age': 25, 'gender': 'male'}

dict